@using Asrati.ViewModels.AccountViewModel
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h2>@ViewData["Title"]</h2>
@Html.ValidationSummary(true, "Please fix the following errors:", new { @class = "text-danger" })
<form asp-action="ChangePassword" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Token" />

    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="control-label"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form>
